@import "../../Colors";

.Items{
  li {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: dotted 2px #ccc;
    padding: 1em;
    .PostAuthor{
      font-weight: bolder;
      margin-bottom: 10px;
      align-self: flex-start;
      font-size: 1em;
      border: none;
      background-color: $almost-white;
      padding: 3px 7px;
      color: $accent-color;
      border-radius: 4px;
      &:before{
        content: "@";
      }
    }
    span.PostCaption{
      margin-bottom: 7px;
      font-size: 15px;
      text-align: left;
    }
  }
}