@import "../../Colors";

.AddPost {
  background-color: $modal-black;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;

  & form {
	align-items: stretch;
	background-color: white;
	border-radius: 4px;
	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 10px;
	grid-template-columns: 2fr 2fr;
	justify-items: stretch;
	margin: auto;
	max-width: 70%;
	min-width: 50vw;
	padding: 15px 45px 35px 45px;
	position: relative;

	& fieldset {
	  border: none;
	  display: flex;
	  flex-direction: column;
	  grid-column: 1 / span 2;
	  padding: 5px 0 15px 0;
	}

	& input {
	  border: solid 2px $very-light-grey;
	  border-radius: 4px;
	  font-size: 1.25em;
	  grid-column: 1 / span 2;
	  padding: 7px 5px;

	  &:focus {
		border-color: $light-gray;
		outline: none;
	  }
	}

	& label {
	  display: block;
	  grid-column: 1 / span 2;
	  line-height: 28px;
	}

	& button.Button {
	  margin: 25px 0 0 0;
	}
  }

  .PostFilesList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	grid-column: 1 / span 2;
	justify-content: space-evenly;

	li {
	  background-color: $light-gray;
	  border-radius: 3px;
	  color: white;
	  display: inline-block;
	  padding: 5px;
	}
  }
}