@import "../Colors.scss";

.Header {
  position: fixed;
  background-color: rgba(255, 255, 255, 100%);
  width: 100%;
  z-index: 9;
  border-bottom: 1px #ccc solid;
  padding: 5px;

  & .Container {
    width: 100%;
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .HeaderLogo{
    color: $accent-color-intense;
    font-weight: bolder;
    font-size: 1.5em;
    font-family: serif;
  }
}

.Search {
}

.SearchBar {
  border-radius: 20px;
  width: 25vw;
  padding: 10px;
  background-color: #ddd;
  border: 1px #ccc solid;
}

.SearchBar:focus {
  border: none;
}

