.Dashboard {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
  top: 4em;
  max-width: 1150px;
  margin: auto;
}

.Items{
  li {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: dotted 2px #ccc;
    padding: 1em;
    span.PostAuthor{
      font-weight: bolder;
      margin-bottom: 5px;
      align-self: flex-start;
      font-size: .8em;
    }
    span.PostCaption{
      font-weight: bolder;
      margin-bottom: 5px;
      font-size: 1.2em;
    }
  }
}


.Aside{
  position: fixed;
  border-right: 1px #ccc solid;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
}

.Main{
  grid-column-start: 2;
  grid-column-end: 3;
}