@import "../../../Colors";

.Items{
  max-width: 1150px;
  padding: 0;
  li{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr ;
    grid-row-gap: 10px;
    justify-content: space-evenly;
    border-bottom: solid 1px $almost-white;
    padding: 1em;
    .PostAuthor{
      font-weight: bolder;
      margin-bottom: 10px;
      align-self: flex-start;
      font-size: 1em;
      border: none;
      background-color: $almost-white;
      padding: 3px 7px;
      color: black;
      border-radius: 4px;
      &:before{
        content: "@";
        margin-right: 2px;
      }
    }
    span.PostCaption{
      font-size: 16px;
      text-align: left;
      grid-column: 1 / span 3;
    }
    .PostMenu {
      position: relative;
      grid-column: 3/ span 1;
      justify-self: end;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      font-weight: bolder;
      display: flex;
      flex-direction: column;
      .Button{
        font-size: 80%;
        padding: 7px 5px;
        border: none;
      }
    }
    .PostLikes{
      grid-column: 3;
      align-self: flex-end;
      text-align: right;
    }
    .PostButtons {
      grid-column: 3;
      align-self: flex-end;
      display: flex;
      justify-content: flex-end;
      .PostLikeButton {
        font-size: 1.2em;
        background-color: rgba(0, 0, 0, 0);
        border: none;
      }

      .PostCommentsButton {
        font-size: 1.2em;
        background-color: rgba(0, 0, 0, 0);
        border: none;
      }
    }
  }


}