@import "../../Colors";


.LoginSendButton{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  width: 60%;
  justify-self: end;
}

.LoginModal{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  background-color: $modal-black;
  color: white;
  z-index: 99;

  & form{
    position: relative;
    margin: auto;
    max-width: 300px;
    max-height: 300px;
    padding: 4em 2.5em 2.5em 2.5em;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 16px;
    //grid-template-rows: 3em 3em 1em 2em;
    & input{
      margin: 10px 2px;
    }
    & label{
      text-align: center;
      line-height: 3em;
    }
    & .LoginErrorMessage{
      grid-column-start: 1;
      grid-column-end: 3;
      text-align: center;
      color: $accent-color-brighter;
      display: none;
      &.Show{
        display: block;
      }
    }
    & p{
      grid-column: 1 /span 2;
    }
  }
}

