@import "../../Colors";

.Header {
  background-color: rgba(255, 255, 255, 100%);
  border-bottom: 1px #ccc solid;
  padding: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  min-width: 320px;
  & .Container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: auto;
	max-width: 1150px;
	width: 100%;
  }

  .HeaderLogo {
	background-color: white;
	border: none;
	color: black;
	font-family: serif;
	font-size: 1.8em;
	font-weight: bolder;
	margin: 10px 10px;
	text-decoration: none;
  }


}

.Search {
  width: 32vw;
}

.SearchBar {
  background-color: #ddd;
  border: 1px #ccc solid;
  border-radius: 20px;
  font-size: 16px;
  line-height: 22px;
  padding: 8px 16px;
  width: calc(100% - 32px);
}

.SearchBar:focus {
  border: none;
}

