@import "./Colors.scss";

@import "home/dashboard/Dashboard";
@import "components/header/Header";

body {
  font-size: small;
  min-width: 200px;
}

.Button {
  background-color: white;
  border: none;
  border-radius: 4px;
  color: black;
  font-size: 16px;
  font-weight: 700;
  margin: 3px !important;
  min-width: 40px;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  height: 40px;

  &:hover {
	background-color: $almost-white;
  }

  &:active {
	background-color: $very-light-grey;
  }

  &:disabled {
	background-color: $light-gray;
  }

  &.White {
	background-color: white;
	border: none;
	color: black;

	&:hover {
	  background-color: #ccc;
	}

	&:active {
	  background-color: black;
	  color: white;
	}
  }

  &.Big {
	height: 48px;
  }
}

.CloseButton {
  background-color: #fff;
  border: none;
  color: $light-gray;
  font-size: 1.2em;
  font-weight: 700;
  height: 20px;
  margin: 0;
  position: absolute;
  right: .8em;
  top: .6em;
  width: 20px;

  &:hover {
	color: #444;
  }

  &:active {
	color: black;
  }
}

.WrongInput {
  border: 1px solid $accent-color;
}

.Disappear {
  display: none;
}

.UserProfile {
  margin: auto;
  max-width: 1150px;
  position: relative;
  top: 90px;

  h1, h2, h3 {
	text-align: left;
  }

  hr {
	border: $very-light-grey 1px dotted;
	clear: both;
	margin-bottom: 10px;
	margin-top: 10px;
  }

  input {
	border: 3px dotted $almost-white;
	border-radius: 4px;
	padding: 3px 12px;

	&:focus {
	  outline: none;
	}
  }

  .Avatar {
	background-color: #666666;
	grid-column: 1 / span 1;
	grid-row: span 3;
	height: 120px;
	width: 120px;
  }

  img.Avatar {

  }

  div.Avatar {
	display: flex;
	justify-content: center;

	p {
	  align-self: center;
	  height: 2em;
	  line-height: 2em;
	  vertical-align: center;
	}
  }

  .Profile {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-left: 13px;

	h1, h2, h3 {
	  margin: 0;
	}
  }

  .EditProfile {
	clear: both;
  }

  .ProfileEditForm {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-top: 1em;

	input {
	  grid-column: 2 /span 1;
	  max-width: 30%;
	}

	button {
	  grid-column: 1 /span 1;
	}

	input, button {

	  font-weight: bolder;

	  &#ProfileUserName {
		font-size: 1.5em;
	  }

	  &#ProfileMotto {
		font-size: 1.17em;
	  }
	}
  }
}

.ConversationsList {
  position: relative;
  top: 80px;
}

@media screen and (max-width: 1280px) {
  header.Header .Container {
	width: 95vw;

	.HeaderButtons {
	  position: relative;
	  right: 10px;
	}
  }
  .Main {
	margin: auto;
	max-width: 95vw;
  }
  .UserProfile {
	max-width: 90vw;
  }
  .Profile {
	margin: auto;
	max-width: 80vw;
  }
}

@media screen and (max-width: 920px) {
  header.Header .Container {
	.Search {
	  position: relative;
	  right: 12px;

	}
  }
}

@media screen and (max-width: 540px) {
  header.Header .Container {
	.Search {
	  width: 25vw;
	}
  }
  .Button {
	padding: 5px;
  }
  .Dashboard {
	top: 80px;

	.Aside {
	  max-width: 25vw;
	}

	ul {
	  padding: 0
	}
  }
  .UserProfile {
	position: relative;
	top: 80px;

	.ProfileEditForm {
	  input {
		max-width: 90%;
	  }
	}
  }
}

@media screen and (max-width: 420px) {
  .Search {
	display: none;
  }
  .HeaderButtons {
	display: flex;

	.Button {
	  flex-grow: 1;
	}
  }
  .Dashboard {
	display: flex;
	flex-direction: column;

	.Main {
	  margin: auto;
	  max-width: 95vw;
	}

	.Aside {
	  display: none;
	}

  }
}