@import "./Colors.scss";

@import "home/dashboard/Dashboard";
@import "components/header/Header";

body{
  font-size: small;
}

.Button{
  border: none;
  background-color: white;
  color: black;
  border-radius: 4px;
  padding: 8px 10px;
  font-size: 16px;
  font-weight: 700;
  margin: 3px !important;
  min-width: 40px;
  text-align: center;
  &:hover{
    background-color: $almost-white;
  }
  &:active{
    background-color: $very-light-grey;
  }

  &:disabled{
    background-color: $light-gray;
  }

  &.White{
    background-color: white;
    border: none;
    color: black;
    &:hover{
      background-color: #ccc;
    }
    &:active{
      background-color: black;
      color: white;
    }
  }

  &.Big{
    height: 48px;
  }
}

.CloseButton{
  width: 20px;
  height: 20px;
  position: absolute;
  top: .6em;
  right: .8em;
  background-color: #fff;
  color:$light-gray;
  border: none;
  font-weight: 700;
  font-size: 1.2em;
  margin: 0;
  &:hover{
    color: #444;
  }
  &:active{
    color: black;
  }
}

.WrongInput{
  border: 1px solid $accent-color;
}

.Disappear{
  display: none;
}

.UserProfile{
  max-width: 1150px;
  margin: auto;
  position: relative;
  top: 5em;
  h1, h2, h3{
    text-align: left;
  }
  hr{
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
    border: $very-light-grey 1px dotted;
  }

  .Avatar{
    height: 120px;
    width: 120px;
    background-color: #666666;
    grid-column: 1 / span 1;
    grid-row: span 3;
  }

  img.Avatar{

  }
  div.Avatar{
    display: flex;
    justify-content: center;
    p{
      height: 2em;
      line-height: 2em;
      align-self: center;
      vertical-align: center;
    }
  }

  .Profile{
    display: flex;
    flex-direction: column;
    gap: 12px;
    h1, h2, h3 {
      margin: 0;
    }
  }

  .EditProfile{
    clear: both;
  }
  .ProfileEditForm{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 12px;

    input{
      max-width: 30%;
      grid-column: 2 /span 1;
    }
    button{
      grid-column: 1 /span 1;
    }
    input, button {

      font-weight: bolder;
      &#ProfileUserName{
        font-size: 2em;
      }
      &#ProfileMotto{
        font-size: 1.17em;
      }
    }
  }
}

@media screen and (max-width: 1280px){
  .Header .Container{
    width: 80vw;
  }
  .Main{
    max-width: 95vw;
    margin: auto;
  }
}

@media screen and (max-width: 540px){
  .Header .Container{
    flex-direction: column;
    * {
      margin-bottom: 5px;
    }
    .Search{
      display: inline-block;
      width: 80vw;
      align-self:flex-start;
    }
    .SearchBar{
      width: 100%;
      font-size: 12px;
      line-height: 16px;
      margin-left: 12px;
    }
  }
  .Button{
    padding: 5px;
  }
  .Dashboard{
    top: 160px;

    .Aside{
      max-width: 25vw;
    }
    ul{padding: 0}
  }

}

@media screen and (max-width: 420px){
  .HeaderButtons{
    width: 80%;
    margin: auto;
    display: flex;
    .Button{
      flex-grow: 1;
      height: 2.5em;
    }
  }
  .Dashboard{
    display: flex;
    flex-direction: column;
    .Main{
      max-width: 95vw;
      margin: auto;
    }
    .Aside{
      display: none;
    }

  }
}