@import "./Colors.scss";

body{
  font-size: small;
}

.Button{
  border: none;
  background-color: $accent-color-brighter;
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  padding: 6px 8px;
  font-size: 16px;
  font-weight: 700;
  margin: 3px !important;
  min-width: 40px;
  text-align: center;
  &:hover{
    background-color: $accent-color;
  }
  &:active{
    background-color: black;
  }

  &:disabled{
    background-color: $light-gray;
  }

  &.White{
    background-color: white;
    border: black 1px solid;
    color: black;
    &:hover{
      background-color: #ccc;
    }
    &:active{
      background-color: black;
      color: white;
    }
  }

  &.Big{
    height: 48px;
  }
}


.CloseButton{
  width: 20px;
  height: 20px;
  position: absolute;
  top: .6em;
  right: .8em;
  background-color: #fff;
  color:$light-gray;
  border: none;
  font-weight: 700;
  font-size: 1.2em;
  margin: 0;
  &:hover{
    color: #444;
  }
  &:active{
    color: black;
  }
}

.WrongInput{
  border: 1px solid $accent-color;
}

.Disappear{
  display: none;
}