$accent-color-brighter: #aaa;
$accent-color: #888;
$accent-color-intense: #666;

$modal-black: rgba(0, 0, 0, 0.7);

$light-gray: #888888;
$very-light-grey: #ccc;
$almost-white: #eee;

$alert: rgb(170,10,10);