@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Caslon";
  src: url('../public/fonts/caslon-bold-regular_1_g8v4r/Caslon\ Bold\ Regular/Caslon\ Bold\ Regular.otf');
}

@font-face {
  font-family: 'Comfortaa';
  src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
}

@font-face {
  font-family: 'Unica One';
  src: url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
}
