@import "../../Colors";

.Dashboard {
  align-items: stretch;
  justify-items: stretch;
  margin: auto;
  max-width: 1150px;
  position: relative;
  top: 80px;
}

.Main {
  grid-column-end: 3;
  grid-column-start: 2;
  max-width: 90vw;
}