@import "../../Colors";

.Dashboard {
  justify-items: stretch;
  align-items: stretch;
  position: relative;
  top: 80px;
  max-width: 1150px;
  margin: auto;
}

.Main{
  grid-column-start: 2;
  grid-column-end: 3;
  max-width: 90vw;
}